<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FileMonitor.Properties.Settings>
            <setting name="cbLogger" serializeAs="String">
                <value />
            </setting>
            <setting name="cblpCopy" serializeAs="String">
                <value />
            </setting>
            <setting name="cbCurplay" serializeAs="String">
                <value />
            </setting>
            <setting name="cblfCopy" serializeAs="String">
                <value />
            </setting>
            <setting name="сbCarPlayItogReplace" serializeAs="String">
                <value />
            </setting>
            <setting name="cbCurplayItog" serializeAs="String">
                <value />
            </setting>
            <setting name="tbDays" serializeAs="String">
                <value />
            </setting>
            <setting name="tbDelay" serializeAs="String">
                <value />
            </setting>
            <setting name="tbLive" serializeAs="String">
                <value />
            </setting>
        </FileMonitor.Properties.Settings>
    </userSettings>
</configuration>